*
{
    padding: 0px;
    margin: 0px;
}


body
{
    height: 1000px;
    display: flex;
    flex-direction: column;
    background-color: black;
}


#encabezado
{
    background-color: white;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    border: inset 1.5px black;
    border-top-right-radius: 200px;
    border-bottom-right-radius: 200px;
    align-items:flex-end;
    height: 200px;
    flex-grow: 1;
}



#logoPagina
{
    display: flex;
    position: absolute;
    float: right;
    margin-top: -20px;
}

#logoPagina img
{
    position: relative;
    float: right;
    background-color: transparent;
    width: 100%;
    height: 100%;
}

#menu .active 
{
    color: black;
    font-weight: bolder;
    font-size: larger;
}


#menu
{
    float: left;
    margin: 0px;
    padding: 0px;
    position: relative;
    width: 100%;
    height: 100%;
    flex-wrap: wrap;
}

#menu ul
{
    list-style-type: none;
    
}

#menu li
{
    float: left;
    margin-top: 160px;
}

#menu li a
{
    display: inline-block;
    text-align: center;
    padding: 10px 10px;
    border-radius: 20px;
    text-decoration: none;
    color: black;
    font-size: large;
}

#menu li a:hover
{
    box-shadow: 10px 10px 8px black;
}

#dropdown li:hover
{
    z-index: 20;
    box-shadow: 2px 2px 12px white, -2px -2px 12px white, -4px -4px 12px white;
    border-radius: 20px;
    
}



#dropdown li 
{
    display: none;
    position: absolute;
    background-color: transparent;
}

#menu li:hover #dropdown li 
{
    display: block;
    margin-top: 0;
}

#menu li #dropdown li a 
{
    width: 110px;
    color: white;
    background-color: black;

}

#menu li #dropdown li:nth-child(1)
{
    margin-top: -1px;
}

#menu li #dropdown li:nth-child(1) .active
{
    margin-top: 6px;
    font-size: medium;
}

#menu li #dropdown li:nth-child(2)
{
    margin-top: 40px;
}

#menu li #dropdown li:nth-child(3)
{
    margin-top: 80px;
}


#cuerpo
{
    height: 1000px;
    background-color: black;
}

#pie
{
    position: relative;
    display: flex;
    flex-direction: row;
    background-color: #d6d6d2;
    height: 50px;
    border: inset 1.5px black;
    bottom: 0;
}