#cuerpo 
{
    align-items: center;
    justify-content: center;
}



.inicio
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    color: white;
}

.inicio div
{
    height: auto;
    width: 300px;
    height: auto;
    padding: 10px;
    margin: 40px;
    border: 2px solid white;
    border-radius: 0px;
    transition-duration: 1s;
}

.inicio p
{
    transition: none;
}

.inicio div:hover 
{
    border-radius: 20px;
}

.inicio div h1
{
    margin-bottom: 30px;
}

#gira p
{
    margin-bottom: 10px;
}

.inicio div a
{
    
    color: white;
    font-weight: normal;
}

.inicio div a:hover
{
    
    font-weight: bolder;
}

.inicio div:hover
{
    font-size: larger;
    background-color: #2e2d2d;
}

#noticiaImagen
{
    display: flex;
    width: 200px;
    height: 200px;
    border-color: transparent;
}

#noticiaImagen
{
    background: transparent;
}

#noticiaImagen video
{
    height: inherit;
    width: inherit;
}

