@import url('https://fonts.googleapis.com/css2?family=Castoro+Titling&display=swap');

h1, p
{
    color: rgb(192,192,192);
}

#noticias
{
    height:100%;
    /*overflow:scroll;*/
    overflow-x:hidden;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
}


#gira p  
{
    width: 80%;
    font-size: larger;
    
}

.inicio
{
    
    display: flex;
    height: 100%;
    align-items: center;
    /*border: 2px solid white;*/
}

#gira, #noticias, #anuncios
{
    height: 100%;
    width: 100%;
    border-left: 2px solid rgb(119,136,153);
    border-radius: 0px;
    transition-duration: 1s;
}

#gira 
{
    border: none;
    height: auto;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
}


#cuerpo 
{
    display: inline;
    grid-column: 2 / 4;
}

#cuerpo2
{
    grid-row: 2;
    grid-column: 1 / 1;
    height: 100%;
    width: 100%;
}

#cuerpo3 
{
    grid-row: 2;
    grid-column: 3 / 3;
    height: 100%;
}

.inicio p
{  
    transition: none;
    font-family: 'Castoro Titling', cursive;
}
/*
.inicio div:hover 
{
    border-radius: 20px;
}

.inicio div a:hover
{
    
    font-weight: bolder;
}

.inicio div:hover
{
    font-size: larger;
    background-color: #2e2d2d;
}
*/

.inicio div h1
{
    margin-bottom: 30px;
    text-shadow: black 1px 0 10px;
}

#cuerpo div h1
{
    margin-top: 30px;
}

#gira p
{
    margin-bottom: 10px;
}

.inicio div a
{
    font-weight: normal;
}

.noticiaImagen
{
    display: flex;
    min-width: 200px;
    max-width: 300px;
    width: auto;
    min-height: 200px;
    max-height: 300px;
    height: auto;
    border-color: transparent;
    margin: 20px;
    margin-left: 0px;
    margin-right: 0px;
}

#giraImagen
{
    display: flex;
    width: 100%;
    justify-content: center;
    margin-bottom: 20px;
}

#giraImagen img
{
    width: 300px;
    height: 200px;
}

.noticiaImagen
{
    background: transparent;
}

.noticiaImagen video
{
    height: inherit;
    width: inherit;
}

.noticiaMain
{
    height: auto;
    width: auto;
    border: none;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 30px;
}

.noticiaMain > h2 > a
{
    text-decoration: none;
    color: white;
    font-weight: bolder;
}

.noticiaMain > h2 > a:hover
{
    color: black;
}


