#cuerpo {
    grid-column: 1 / 4;
}

#miembros
{
    align-items: center;
    justify-content: space-between;
    display: flex;
    flex-wrap: wrap;
    flex-grow: 1;
}

#miembros div
{
    margin: 20px;
    height: auto;
    width: 300px;
    height: auto;
    padding: 10px;
    border: 2px solid white;
    border-radius: 0px;
    transition-duration: 1s;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

#miembros img
{
    width: 200px;
    height: 200px;
    margin-bottom: 20px;
}

#miembros h1 
{
    color: white;
    margin-bottom: 20px;
}

#miembros p
{
    color: white;
    width: 150px;
    font-size: large;
}
